
@{
    ViewBag.Title = "Amd_ryzen";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@*@Html.AntiForgeryToken()*@
@section scripts {
    <script>
        const sanPham_Intel_Data = @Html.Raw(Json.Encode(Model));
        console.log(sanPham_Intel_Data);
    </script>
    <script src="~/Scripts/MyYourJavaScript.js"></script>
}

@if (Session["Email"] != null)
{
    <div class="col-12">
        <h5 class="text-center fw-bold">AMD Ryzen</h5>
        <hr class="bg-dark">
        <div id="ryzen" class="row">

        </div>
    </div>
}
else
            {
                <button class="btn btn-primary"><a>>Đăng Nhập</a></button>
            }
